.socio-form {
    .socio-form-image {
        background: url('../images/banner-news.png');
        background-size: cover;
        background-position: center;

        .text {
            color: white;
            font-weight: bold;
            padding: 140px 0;
            text-align: center;

            @include for-phone-only {
                padding-left: $gutter;
            }

            .line-1 {
                font-size: 24px;
         }

            .line-2 {
                font-size: 28px;
                text-transform: uppercase;
                line-height: 44px;
            }

            .line-3 {
                font-size: 24px;
            }
        }

        .form {
            background-color: $orange;
            padding: 45px 0;

            .form-title {
                text-align: center;
                font-size: 30px;
                padding: $gutter 40px;
                color: white;
                font-weight: bold;
                @include for-phone-only {
                    font-size: 20px;
                }
            }

            form {

                .form-input {
                    display: block;
                    width: 70%;
                    margin: $gutter auto;
                    background-color: transparent;
                    border: solid 1px white;
                    color: white;
                    padding: 0 $gutter;
                    font-weight: bold;

                    @include input-placeholder {
                        color: white;
                        font-size: 16px;
                        font-weight: normal;
                    }

                    &:focus {
                        background-color: darken($orange, 5%);
                    }
                }

                .form-button {
                    display: block;
                    width: 70%;
                    margin: $gutter auto;
                    background-color: $mid-blue;
                    text-transform: uppercase;
                    color: white;
                    font-weight: bold;

                    &:hover {
                        background-color: darken($mid-blue, 10%);
                    }
                }
            }
        }
    }
}

.footer-info {
    background-color: $gray2;
    padding: 50px 0;

    @include for-phone-only  {
        font-size: 16px;
    }
}


footer {
    background-color: $gray1;
    padding: ($gutter * 2) $gutter;
    
    .institutional {
        text-align: center;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 0 ($gutter / 2);
                font-size: 20px;
                @include for-phone-only {
                    font-size: 16px;
                }
                
                a {
                    color: $gray3;
                }
            }
        }
    }

    .social {
        text-align: center;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 0 ($gutter * 2);
                font-size: 28px;
                cursor: pointer;
                color: $gray3;
                @include for-phone-only {
                    padding: 0 $gutter;
                }

                &:hover {
                    color: $dark-blue;
                }
            }
        }
    }

    hr {
        width: 70%;
        margin: 0 auto;
    }
    
    .copyright {
        padding-top: 32px;
        font-size: 20px;
    }
}

