.main-content {

    .background-bar {
        display: none;

        @include for-tablet-landscape-up {
            display: block;
            background-color: white;
            width: 100%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            height: 180px;
            margin-top: -88px;
        }
    }
    
    .title-bar {
        background-color: $dark-blue;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: ($gutter * 2) $gutter;

        @include for-tablet-landscape-up {
            height: 230px;
            border-top-left-radius: 40%;
            border-top-right-radius: 40%;
            margin-top: -170px;
            line-height: 145px;
            font-size: 30px;
            padding: 0;
        }
    }

    .products-content {
        margin-top: 50px;
        @include for-tablet-landscape-up {
            margin-top: -50px;
        }
        
        .products-text {
            @include for-phone-only {
                text-align: center;
            }
        }
        .products-title {
            padding-top: $gutter * 2;
            color: $dark-blue;
            font-weight: bold;
            font-style: italic;
            font-size: 26px;
        }
        
        .product-img {
            width: 100%;
        }
        .banner-carousel {
            padding: ($gutter * 2) 0;
            
            .carousel-indicators {
                position: initial;
                padding: $gutter 0;
                
                li {
                    text-indent: unset;
                    margin: 0 $gutter;
                    
                    &:before {
                        text-indent: unset;
                        font-family: "Font Awesome 5 Free";
                        content: '\f111';
                        color: $gray3;
                        font-size: 30px;
                        @include for-phone-only  {
                            font-size: 16px;
                        }
                    }
        
                    &.active:before {
                        text-indent: unset;
                        font-family: "Font Awesome 5 Free";
                        content: '\f111';
                        font-weight: 900;
                        color: $light-blue;
                        font-size: 30px;
                        @include for-phone-only  {
                            font-size: 16px;
                        }
                    }
                }
            }
            
            .carousel-control-next-icon {
                background-color: $light-blue;
                padding: 23px;
                background-size: 30px;
                position: absolute;
                right: 0;
                top: 35%;
                @include for-phone-only  {
                    padding: 16px;
                    background-size: 16px;
                    top: 30%;
                }
            }
            
            .carousel-control-prev-icon {
                background-color: $light-blue;
                padding: 23px;
                background-size: 30px;
                position: absolute;
                left: 0;
                top: 35%;
                @include for-phone-only  {
                    padding: 16px;
                    background-size: 16px;
                    top: 30%;
                }
            }
        }
        
    }
}




